body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 60, 60);
    display: flex;
    justify-content: center;
    height: 30vh;
    margin-top: 20vh;
    
    
}

.dic-grand{
     text-align: center;
    background-color: aqua;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 3, 0, 0.2);
    width: auto;
    
   
}
.searchbar{
    display: flex;
    justify-content: center;
    gap: 8px;
}

input[type="text"]{
    flex:-4;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(7, 67, 67);
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 2s ease;
}
.searchbar button{
    background-color:rgb(7, 67, 67) ;
    border-radius: 8px;
    color: white;
}

.searchbar button:hover{
    background-color:rgb(5, 101, 101);
    color: white;
}

#result{
    margin-top: 25px;
    font-size: 18px;
    color: blue;
    word-wrap: break-word;
    text-align: left;
}

@media(max-width: 500px){
    .dic-grand{
        padding: 28px 20px;
    }
    h1{
        font: size 14px; 
    }
    input[type="text"]{
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
    button{
        width: 100%
    }
    /* result */
}
@media(max-width: 350px){
    h1{
        font: size 20px; 
    }
    input[type="text"]{
       font-size: 14;
    }
    button{
        font-size: 14px;
        padding: 8px;
    }
    /* result */
}