body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("logo.jpeg");
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20vh;
    background-size: cover;
    background-position:center;  
    
}

body .dic-grand{
    height:30vh;
}


.dic-grand{
     text-align: center;
    background-color:white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 3, 0, 0.2);
    width: auto;
    color:red;
    
   
}
.searchbar{
    display: flex;
    justify-content: center;
    gap: 8px;
}

input[type="text"]{
    flex:-4;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(247, 120, 120);
    color:black;
    font-size: 15px;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 2s ease;
}
.searchbox button{
    background-color:white;
    border-radius: 8px;
    color:red;
    padding: 8px;
}

.searchbox button:hover{
    background-color:rgb(174, 174, 227);
    color: black;
}

#result{
    margin-top: 25px;
    font-size: 18px;
    color:red;
    font-weight:bolder;
    word-wrap: break-word;
    text-align: center;
    background-color:white;

    border-radius: 6%;
 
}

@media(max-width: 500px){
    .dic-grand{
        padding: 28px 20px;
    }
    h1{
        font: size 14px; 
    }
    input[type="text"]{
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
    button{
        width: 100%
    }
    /* result */
}
@media(max-width: 350px){
    h1{
        font: size 20px; 
    }
    input[type="text"]{
       font-size: 14;
    }
    button{
        font-size: 14px;
        padding: 8px;
    }
    
}